<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="index.php"><i class="fa fa-leaf"></i>&nbsp;projectHelp</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="#" data-toggle="modal" class="LoginSignUp" data-target="#login" style="font-size:16px;">Login / Sign Up</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
<!--modal-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" action="" method="POST" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header login_modal_header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color
:#fff;">&times;</button>
<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
</div>
<div class="modal-body login-modal">
<p></p>
<br/>
<div class="clearfix"></div>
<div id='social-icons-conatainer'>
<div class='modal-body-left'>
<div class="form-group">
<input type="text" id="username" placeholder="Username" name="username" class="form-control login-field">
<i class="fa fa-user login-field-icon"></i>
</div>
<div class="form-group">
<input type="password" id="login-pass" placeholder="Password" name="password" class="form-control login-field">
<i class="fa fa-lock login-field-icon"></i>
</div>
<button type="submit" value="login" name="login" class="btn btn-success modal-login-btn">Login&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-in"></i></button>
<a href="#" class="login-link text-center">Lost your password?</a>
</div>
<div class='modal-body-right'>
<div class="modal-social-icons"><br>
<a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook "></i>&nbsp;&nbsp;&nbsp; Login via Facebook </a>
<br><br>
<!--<a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Login via Twitter </a>-->
<a href='#' class="btn btn-default google"> <i class="fa fa-google-plus "></i>&nbsp;&nbsp; Login via Google </a>
<!--<a href='#' class="btn btn-default linkedin"> <i class="fa fa-linkedin modal-icons"></i> Login via Linkedin </a>-->
</div>
</div>
<div id='center-line'> OR </div>
</div>
<div class="clearfix"></div>
<div class="form-group modal-register-btn">
<button class="btn btn-default " id='registerbtn' data-toggle="modal" data-target="#register">
<a style="text-decoration:none;color:#ddd;"> New User? Register Here!</a></button>
</div>
</div>
<div class="clearfix"></div>
<div class="modal-footer login_modal_footer">
</div>
</div>
</div>
</div>
<div class="modal fade" id="register" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header login_modal_header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color
:#fff;">&times;</button>
<h2 class="modal-title" id="myModalLabel">Signup now ... </h2>
</div>
<div class="modal-body login-modal">
<p></p>
<br/>
<div class="clearfix"></div>
<div id='social-icons-conatainer'>
<div class='modal-body-left'>
<div class="form-group">
<input type="text" id="username" placeholder="Username" value="" class="form-control login-field">
<i class="fa fa-user login-field-icon"></i>
</div>
<div class="form-group">
<input type="email" id="email" placeholder="Email address" value="" class="form-control login-field">
<i class="fa fa-envelope login-field-icon"></i>
</div>
<div class="form-group">
<input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
<i class="fa fa-lock login-field-icon"></i>
</div>
<div class="form-group">
<input type="password" id="login-pass" placeholder="Confirm Password" value="" class="form-control login-field">
<i class="fa fa-lock login-field-icon"></i>
</div>
<a href="#" class="btn btn-success modal-login-btn">Signup&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i></a>
</div>
<div class='modal-body-right'>
<div class="modal-social-icons"><br><br>
<a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook "></i>&nbsp;&nbsp;&nbsp; Signup via Facebook </a>
<br><br><br>
<!--<a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Signup via Twitter </a>-->
<a href='#' class="btn btn-default google"> <i class="fa fa-google-plus "></i>&nbsp;&nbsp; Signup via Google </a>
<!--<a href='#' class="btn btn-default linkedin"> <i class="fa fa-linkedin modal-icons"></i> Signup via Linkedin </a>-->
</div>
</div>
<div id='center-line'> OR </div>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="modal-footer login_modal_footer">
</div>
</div>
</div>
</div>