<!DOCTYPE html>
<html lang="en">
<link href="/stylesheets/bootstrap-cosmo.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.css" rel="stylesheet">
<link href="/stylesheets/mystyle.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>findNGO.com</title>
</head>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

<% include /partials/header %>

</nav>

<body>
	<div class="container">
		<div class="jumbotron">

		<div class="row">
			<div class="col-md-4">
				<a href="#" class="thumbnail">
					<img class="me img-rounded" src="/images/me2.jpg" alt="manasa">
				</a>
			</div>
			<div class="col md-8">
				<h3>Hie ! Im manasa! </h3>
			</div>
		</div>
		</div>
	</div>


<footer class="footer">

	<% include /partials/footer %>

</footer>

</body>
</html>
